---
import astroLogo from '../assets/astro.svg';
---

<div id="container">
	<main>
		<section id="hero" class="space-y-8 mt-16">
			<a class="w-[115px] block" href="https://astro.build"
				><img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" /></a
			>
			<h1 class="text-5xl font-bold uppercase">Welcome</h1>
			<section class="space-y-4">
				<p>Battletech Alpha Strike Tables</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit molestiae tempora porro nesciunt qui, quas eum deserunt numquam quos ea earum ipsum aspernatur, unde cumque possimus laboriosam, magnam aut quod.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit molestiae tempora porro nesciunt qui, quas eum deserunt numquam quos ea earum ipsum aspernatur, unde cumque possimus laboriosam, magnam aut quod.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit molestiae tempora porro nesciunt qui, quas eum deserunt numquam quos ea earum ipsum aspernatur, unde cumque possimus laboriosam, magnam aut quod.</p>				
			</section>
		</section>
	</main>
</div>